/*********************************************************************************/
/* 전역 설정                                                                   */
/*********************************************************************************/

* { /*모든 디렉토리에 전체 적용*/
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-collapse: collapse;
  list-style: none;
  color: #E5EEFF;
  font-size: 12pt;
	line-height : 1.5em;
}

html { background: #334467; }
body {
  width: 75%;
  margin: 20px auto;
	padding: 20px;
	font-family: 'Questrial', sans-serif;
	color: #E5EEFF;
}

h1 { font-size : 2em; }
h2 { font-size : 1.5em; }
h3 { font-size : 1.17em; }
p {	line-height: 180%; }
caption { display: none; }
button, option, select { color : black; }
a:hover { text-decoration: none; }
fieldset { border : none; }
a { 
	text-decoration: none;
	color: inherit;
}

.tab { white-space: pre; }

:-ms-input-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {color: #a8a8a8;}

.hidden { content : hidden; }

/*********************************************************************************/
/* 헤더 메뉴, 헤더 로고                                                            */
/*********************************************************************************/

#header { direction: rtl; }

.logo {
  display : inline-block;
  width : 100%;
}
.logo img {
  margin : -25px auto 0 auto;
  display : block;
  width : 250px;
}

.header-menu {
  margin-top: 15px;
  text-align: left;
}

.header-menu ul {
  display: inline-block;
  padding: 0em 2em;
  text-align: center;
}
.header-menu > ul {
  width : 100%;
  margin : 0 auto;
  display : block;
}

.header-menu > ul > li { width:180px; }
.header-menu > ul > li:hover, .header-menu > ul > li:hover a { background:#3E5A99; }
.header-menu > ul .active { background:#3E5A99; }
.header-menu > ul li ul {
  margin:0;
  padding:0;
  display:none;
  height: auto;
  position: absolute;
  width:180px;
  z-index:200;
  background:#3E5A99;
}

.header-menu > ul ul a {	
	font-weight:normal;	
	color:white; 
}

.header-menu > ul ul li:hover a:hover { 
	font-weight: bold; 
	text-decoration: underline; 
	color: rgb(0, 0, 0);
}

.header-menu > ul li:hover ul { display: block; }
.header-menu > ul li:hover ul li { 
	z-index:5;	
	height: auto; 
	overflow: visible; 
	padding: 0; 
}

.header-menu li { display: inline-block; }
.header-menu li:hover a, .header-menu li.active a, .header-menu li.active span { background: #3E5A99; }
.header-menu li a, .header-menu li span {
  display: inline-block;
  padding: 1.3em 1.5em;
  text-decoration: none;
  font-size: 1em; /*0.90em*/
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #FFF;
}

.header-box-wrapper {
	display : flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	justify-content : space-around;
  flex-direction : row-reverse;
  height : 110px; /* Leaderboard의 728x90크기에 의거(90px + padding 10px * 2) */
}

/*********************************************************************************/
/* 이미지 슬라이드                                                                    */
/*********************************************************************************/

.header-slide-box {
	max-width:728px;
	height: 90px;
	display : flex;
	flex-grow: 1; 
	justify-content : center;
	overflow: hidden;
	margin-left:220px;
	padding : 10px;
}

.header-slide-box ul { /* slide를 8초동안 진행하며 무한반복 함 */
	margin : 0 auto;
	padding : 0;
	width : calc(100% * 4);
	display : flex;
	animation : slide 10s infinite;
} 

.header-slide-box li {
	width:calc(100% / 4);
	height:110px;
}

@media screen { 
	@keyframes slide {
	  0% {margin-left:100%;} /* 0 ~ 10  : 정지 */
	  10% {margin-left:100;} /* 10 ~ 20 : 변이 */
	  20% {margin-left:-100%;} /* 20 ~ 30 : 정지 */
	  30% {margin-left:-100%;} /* 30 ~ 40 : 변이 */
	  40% {margin-left:-300%;}
	  50% {margin-left:-300%;}
	  60% {margin-left:-500%;}
	  70% {margin-left:-500%;}
	  80% {margin-left:-500%;}
	  90% {margin-left:-500%;}
	  100% {margin-left:100%;}
	}
}



/*********************************************************************************/
/* 프로필 박스; 로그인 박스 역할도 합니다.*/
/*********************************************************************************/

.profile-box { 
  width : 12rem;
  float: right;
  border : 1px solid #fff;
  text-align : left;
	padding : 3px 5px 7px 10px;
	overflow: hidden;
}

.profile-box a {
  margin-top : 10rem;
  font-size : .8rem;
}

.profile-box .userlog {
  text-align: center;
  position: relative;
  vertical-align: middle;
  border-style: hidden; /* table부분(바깥쪽)의 border은 지움 */
  width : 100%;
  height : 100%;
}

.profile-box .userlog td {
  position:relative;
  border : 1px solid white;
  padding : 0.5em;
  border-collapse : collapse;
}

.profile-box .userlog td:after {
  content: '';
  position: absolute;
  left : 100%;
  top : 3px;
  bottom : 3px;
  width : 2px;
}

.profile-box form {
  width : 100%;
  height : 3.4rem;
}

.profile-box h2 {
  margin: 0px 0 -0.15rem;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Google Sans','Noto Sans Myanmar UI', arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-box .loginBox {
  width : 60%;
  float: left;
}

.profile-box .loginBox input {
  width : 100%;
  padding: 0.225rem 0;
  font-size: .5rem;
  letter-spacing: 0.03rem;
  margin-left: 5rem;
  margin-bottom: .07rem;
  background-color: #fff;
  border: 1px solid #ccc;
  color : #000;
  text-align : left;
}

.profile-box .loginBox input:focus {
  outline: none;
  border: 2px solid #1a73e8;
}

.profile-box input[type="submit"] {
  width : 35%;
  height : 3rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #1a73e8;
  cursor: pointer;
  font-size: 1rem;
  margin : .3rem 0 0 .45rem;
}

.profile-box input[type="submit"]:hover {
  background-color: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
}

/*********************************************************************************/
/* 메인 wrapper                                                                    */
/*********************************************************************************/

#wrapper { 
	margin : 30px 0; 
	display : flex;
	justify-content : space-around;
	align-content : flex-start;
}

#container {
	order : -1;
	width: 70%;
}

.ad-banner {
	order : 99;
	align-items: end;
	width: 160px; /* 광고 크기가 160*600 Wide skyscraper의 크기에 의거 */
	height: 600px;
	border: 1px solid white;
}

.page-name {
	margin-bottom : 30px;
}

/*********************************************************************************/
/* 홈페이지                                                                       */
/*********************************************************************************/

.homepage-articles-wrapper {
	width : 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:flex-start;
}

.homepage-articles-box {
	width : 49.5%;
	border : 1px solid white;
	margin-bottom : 0.5%;
}

.homepage-articles-name { border-bottom : 1.5px solid white; }

.homepage-articles-list td { color: #C6C2C4; }
.homepage-articles-list td:before { 
	position : relative;
	top : 4px;
	content : "·";
	font-size: 30px; 
	line-height: 0px;
	color: white; 
	margin: 5px 5px 0 7px;
}

/*********************************************************************************/
/* 게시글 목록                                                                  */
/*********************************************************************************/	
.article-list {
	width: 100%;
	border-top: 2px solid #ccc;
}

.article-list tr { border-bottom: 1px solid #ccc; }
.article-list td { text-align: center; }
.article-list th, .article-list td { 
	padding: 10px;
  font-size: 14px;
}

.create-article {
	float : right;
	margin : 20px 5px 0 0;
}

.article-navigation {
	margin-top : 20px;
	left : 3%;
	position : relative;
	display : flex;
	flex-direction: column;
	flex-wrap : wrap;
	align-content : center;
	align-items : center;
}

.article-paging { font-size: 0; }
.article-paging a {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 100px;
	font-size: 12px;
}
.article-paging a:first-child { margin-left: 0; }
.article-paging a.page-move {
	border: 1px solid #eee;
	background: #eee;
	color: #292929;
}
.article-paging a.num {
	border: 1px solid #ccc;
	font-weight: 600;
	color:#ccc;
}
.article-paging a.num-now {
	background:#ccc;
	color: #fff;
}

.article-search {
	width : 31em;
	border: 1px solid #1ABC9C;
	background: #FFFFFF;
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	height: 1.5em;
}

.article-search input {
	font-size: 16px;
	height: 1.5em;
	width : 20em;
	border:  1px solid black;
	outline: none;
}
.article-search button {
	width: 50px;
	height: 1.5em;
	border: 0;
	background: #16A085;
	outline: none;
	color: #FFFFFF;
}
.article-search select[name="language"] {
	height: 1.5em;
}

/*********************************************************************************/
/* 게시글 */
/*********************************************************************************/

.article-wrapper {
	width : 100%;
	display : flex;
	flex-direction: column;
	border:1px solid whitesmoke; 
	padding : 10px;
	overflow : hidden;
}

.article-metadata { max-height : 100px; }/* 글제목 작성자, 작성일, 조회수 등의 데이터를 표시하는 공간 */
.article-metadata-middle { margin-right : 25px; } /* 사이 빈공간*/
.article-text { min-height : 15em; }
.article-bottom a { float : right; }
.article-bottom { 
	min-height : 1em; 
	display : block;
}

/*********************************************************************************/
/* 댓글 및 댓글 작성 */
/*********************************************************************************/

.comment-wrapper {
	width : 100%;
	padding : 10px;
	background-color: whitesmoke; 
	border:1px solid whitesmoke; 
}

.comment-wrapper table { 
	width : 100%; 
	table-layout: fixed;
}

.comment-header * {	color : black; }
.comment-header input { margin-left : 15px; }

.comment-date { 
	padding-left : 15px; 
	width : 150px;
}

.comment-user-name { 
	width: 80px;
	font-weight: bold; 
}

.comment-content-wrapper { 
	padding : 3px 0;
}

.comment-contour {
	border-bottom : 1px solid grey;
	padding-bottom : 3px;
}

.comment-content {
	color:black;
	min-height : 1em;
}

.comment-form-wrapper {
	display: block;
	position : relative;
	width : 100%;
	padding : 10px;
	background-color: whitesmoke; 
	border:1px solid whitesmoke; 
}
.comment-input {
	background-color: white; 
	color: black;
	width: 80%; 
	font-size:.75em; 
	padding : 5px; 
	border-radius: 0;
	height : 7em;
	float : left;
}
.comment-input::placeholder { 
	color:lightgray !important;
}

.comment-submit-wrapper {
	width : 15%;
	height : 100%;
	margin-top : 5px;
	float: right;
}

.comment-submit {
	width:80px; 
	height:80px;
	background-color: #3E5A99; 
	color:white; 
	font-weight: bold;
}

/*********************************************************************************/
/* 게시글 작성                                                             */
/*********************************************************************************/

.article-form input[type="text"],
.article-form textarea {
	border: 0;
	width : 100%;
	background: #fff;
	color : black;
	background: rgba(255,255,255,0.75);
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
	border: solid 1px rgba(0,0,0,0.15);
	font-size: 1em;
	outline: none;

	-webkit-appearance: none;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
}

.article-form input[type="text"]:focus,
.article-form select:focus,
.article-form textarea:focus {
	box-shadow: 0 0 2px 1px #E0E0E0;
	background: #fff;
}

.article-form label {
	/*color : white;*/
	line-height : 2em; /*라벨 밑 마진 크기*/
}

.article-form textarea {
	height : 15em;
}

.article-form li {
	margin-bottom : 10px;
}

.article-form input[type="submit"] {
	color : black;
	padding : 3px;
	font-size : 0.8em;
}

.article-form input[type="file"] {
	font-size : 0.8em;
}

.article-submit {
	margin-top : 7px;
}

/*********************************************************************************/
/* 회원가입                                                                */
/*********************************************************************************/	

.registration-agreement-container {
	color: #333;
	line-height: 1.42em;
	font-size: 13px;
	margin: 0;
	border: 1px solid #ddd;
	padding: 15px 15px 10px 15px;
	background:rgba(255,255,255,0.95);
	margin-bottom: 15px;
}
.registration-agreement-content {
	height: 15em;
	overflow: auto;
}
.registration-agreement-content * {
	color: #333;
	font-size : .9em;
}
.registration-hr1 {
	margin : 1em 0 1em 0;
	border-top : 1px dotted #333;
}
.registration-agreement-confirm * {	color : black; }

.registration input { color : black; }
.registration input[type="submit"],
.registration input[type="reset"] { padding : 2px; }

.registration legend { 
	font-size : 2em; 
	font-weight : bold;
	margin-bottom : 10px;
}

.registration tr {
	height : 2.5em;
	line-height : 2.5em;
}

.registration-required {
	color : red;
	font-size: 1.2em;
	padding : 0 1px;
}

.registration-caption {
	font-size : .8em;
}

.registration td:first-child {
	width : 8em;
}

.registration-hr2 {
	margin : 2em 0 1em 0;
}

.registration-submit {
	float : right;
}

.tos-content {
	color: #333;
	line-height: 1.42em;
	font-size: 13px;
	margin: 0;
	border: 1px solid #ddd;
	padding: 15px 15px 10px 15px;
	background:rgba(255,255,255,0.95);
	margin-bottom: 15px;
	height: 100%;
}

/*********************************************************************************/
/* 푸터(가능하면 css 파일 맨밑에 둬주세요)                                          */
/*********************************************************************************/

#footer {
	overflow: hidden;
	padding: 5em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
	text-align: center;
}

#footer p {
	letter-spacing: 1px;
	font-size: 0.90em;
	color: rgba(255,255,255,0.6);
}

#footer a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#footer .footer-copyright {
	color : rgba(255,255,255,.5);
}

.footer-contact li { display: inline-block; }
.footer-contact img {	background-color: rgba(255, 255, 255, 0.75); }
.footer-contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
	list-style: none;
}
	
