/*.myloginarea {  
	clear:both;
	position: absolute;
	width: 200;
	height: 30px;
	float: right;
	top: 10px;
	right: 10px;
	overflow: hidden;
}*/

/*********************************************************************************/
/* img slide                                                                    */
/*********************************************************************************/

@media screen { 
	ul,li{list-style:none;}
	 .slide{width:850px;height:130px;overflow:hidden;margin:0 auto;padding:0; margin-left: 220px;}
	 .slide ul{margin:0 auto;padding:0;width:calc(100% * 4);display:flex;animation:slide 8s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
	 .slide li{width:calc(100% / 4);height:130px;}
	 
	 @keyframes slide {
	   0% {margin-left:0;} /* 0 ~ 10  : 정지 */
	   10% {margin-left:0;} /* 10 ~ 25 : 변이 */
	   25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
	   35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
	   50% {margin-left:-200%;}
	   60% {margin-left:-200%;}
	   75% {margin-left:-300%;}
	   85% {margin-left:-300%;}
	   100% {margin-left:0;}
	 }
 }



	html, body
	{
		margin: 0 auto;
		padding:0;
		width:1520px;
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #334467;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: #E5EEFF;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		/*color: #404040;*/
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #16A085;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3E5A99;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: rgba(255,255,255,.5);
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.8em 2em;
		background: #3E5A99;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #FFF;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: rgba(255,255,255,.5);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 4em 0em 5em 0em;
	}

	#header
	{
		text-align: left;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
	#logo h1
	{
		display: inline-block;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 2.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		padding-right: 0.5em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,1);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		margin-top: 15px;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 1.3em 1.5em;
		text-decoration: none;
		font-size: 1em; /*0.90em*/
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #3E5A99;
	}
	
	#menu .current_page_item a
	{
		color: #FFF;
	}
	
/*********************************************************************************/
/* login                                                                        */
/*********************************************************************************/

.login_insert{
	margin-left: 5px;
	font-size: 13px;
	float: left;
}

input[type="submit"] {
float: right;
/*  display:block; */
height: 52px;
font-family: "맑은 고딕";
}

input[type="text"] {
float: left;
/*  display:block; */
width: 110px;
font-family: "맑은 고딕";
margin-bottom: 5px;
}


input[type="password"] {
float: left;
/*  display:block; */
width: 110px;
font-family: "맑은 고딕";
margin-bottom: 5px;
}



 	.login 
	{
		width: 210px; 	/*220*/
		height: 130px; 	/*148*/
		margin: 0px 20px 5px 0px;
		float: right;
		border: solid 0.5px white;
	}

	.login h3, form
	{
		margin: 7px 0px 0px 10px;
	}


/*********************************************************************************/
/* board                                                                  */
/*********************************************************************************/	
table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
	padding: 60px;
	margin-left: 80px;
	margin-right: 350px;
}

.board_list {
    width: 100%;
    border-top: 2px solid #ccc;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
}

.board_list .tit {
    text-align: left;
}

.board_list .tit:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
	background: #eee;
	color: #292929;
}

.board_list_wrap .paging a.num {
    border: 1px solid #ccc;
    font-weight: 600;
    color:#ccc;
}

.board_list_wrap .paging a.num.on {
    background:#ccc;
    color: #fff;
}

.board_name{
	margin-left: 140px;
	
}

.banner
	{
		width: 210px;
		height: 557px;
		margin: 5px 180px 5px 0px;
		float: right;
		border: 1px solid white;
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1200px;
		height: 600px;
		/*padding: 0px ;*/
		/*text-align: center;*/
		/*border: solid 1px greenyellow;*/ 
	}

	#welcome .preview
	{
		width: 961px;
		height: 588px;
		margin: 5px 0px;
		float: left;
		border: solid 1px white;
	}

	#welcome .left
	{
		width: 474px;
		height: 580px;
		margin: 3px 3px 3px 7px;
		float: left;
		/*border: solid 1px red;*/
	}
	#welcome .box1
	{
		width: 469px;
		height: 190px;
		margin: 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}
	#welcome .box_title
	{
		width: 462px;
		/*float: left;*/
		border-bottom: solid 1.5px white;
		color: white;
	}
	#welcome .box_title a
	{
		text-decoration: none;
		color: #FFF;
	}
	#welcome .box_list
	{
		width: 460px;
		height: 158px;
		margin-top: 3px;
		color: white;
		/*border: solid 1px white;*/
	}
	#welcome .list
	{
		margin: 4px 0px 0px 4px;
		font-size: 13px;
		line-height: 22px;
		text-decoration: none; 
	}
	#welcome .list a { color: rgb(221, 221, 221); }
	#welcome .list a:before { display: inline-block; font-size: 25px; line-height: 0px; content: "."; color: white; margin: 5px 5px 0 5px;}
	#welcome .txt { display:inline-block; }
	
	#welcome .box2
	{
		width: 469px;
		height: 190px;
		margin: 0px 1px 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}
	#welcome .box3
	{
		width: 469px;
		height: 190px;
		margin: 0px 1px 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}

	#welcome .right
	{
		width: 474px;
		height: 580px;
		margin: 3px 3px 3px 0px;
		float: right;
		/*border: solid 1px red;*/
	}
	#welcome .box4
	{
		width: 469px;
		height: 190px;
		margin: 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}
	#welcome .box5
	{
		width: 469px;
		height: 190px;
		margin: 0px 1px 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}
	#welcome .box6
	{
		width: 469px;
		height: 190px;
		margin: 0px 1px 1px 1px;
		float: right;
		/*border: solid 1px white;*/
	}

	#welcome .banner
	{
		width: 210px;
		height: 442px;
		margin: 5px 20px 5px 0px;
		float: right;
		border: 1px solid white;
	}
	
	#welcome a,
	#welcome strong
	{
		color: #C6C2C4;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		
		/*text-align: center;*/
		/*border: 1px solid red;  임시선 */
	}

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 700px;
		padding-right: 100px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 350px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* footer                                                                     */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		text-align: center;
	}
	
	#footer p
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(255,255,255,0.6);
	}
	
	#footer a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
	}
	
	#portfolio .box
	{
		text-align: center;
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(255,255,255,1);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		text-align: center;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		background: none;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #67128F;
		text-align: center;
		color: #FFF;
		
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}
	
	#three-column .title
	{
		text-align: center;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}
	
	
	ul.tools
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	ul.tools li
	{
		display: inline-block;
		padding: 0em .2em;
		font-size: 4em;
	}
	
	ul.tools li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.tools li a
	{
		color: #FFF;
	}
	
	ul.tools li a:before
	{
		display: inline-block;
		background: #1ABC9C;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		color: #FFFFFF;
	}
	
	